body{
	margin:0;
	padding:0;
	font-family: sans-serif;
	/*background: #34495e;*/

}
/*title{ color: #283747; font: 12px sans-serif} */
header{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../img/office_10.jpeg);
	height:110vh;
	background-size: cover;
	background-position: center;
}

.box{
	width: 32%;
	padding: 20px 40px 0 40px;
	float: left;
	margin: 3% 0 0 33%;
	background:#FCF3CF  ;
	text-align: center;
	opacity: 0.9;
}
.box h2{
	color: #6E2C00;
	font-weight: 500;
}
.box input[type="text"],.box input[type="date"],.box input[type="number"]{
	border:0;
	background:#FAD7A0;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #6E2C00;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: #6E2C00 ;
	border-radius: 24px;
	transition: 0.25s;
	font-color:#6E2C00;
}
.box input[type="text"],.box input[type="date"],.box input[type="number"]{
	width:280px;
	border-color: #E9967A ;
}
.box input[type="submit"]{
	border:0;
	background: #FAD7A0 ;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #CD6155;
	padding: 14px 40px;
	outline: none;
	color:#6E2C00 ;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-color:#6E2C00;
	border-color: #E9967A ;
}
.box input[type="submit"]:hover{
	border-color: #E9967A ;
	background: #FFA07A ;
}

.box p{	
	font-style: italic;
	color: #17202A ;
}

.box a{
	font-style: normal;
	text-decoration: none;
	color: #7B241C;
}

.box a:hover{
	font-style: italic;
}

.box h6{
	color: #6E2C00;
}

.box h3{
	color: #6E2C00;
}
